<div class="container" *ngIf="this.picdata">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators pic_indi">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active piccarousel" [routerLink]="'/watch/movie/'+picdata.results[0].id">
      <img [src]="'https://image.tmdb.org/t/p/original'+picdata.results[0].backdrop_path" class="d-block w-100  picheight" alt="...">
      <div class="carousel-caption d-block d-md-block pic_titles ">
        <h5 class="pictitles">{{this.picdata.results[0].title}}</h5>
      </div>
    </div>
    <div class="carousel-item piccarousel" [routerLink]="'/watch/movie/'+picdata.results[1].id">
      <img [src]="'https://image.tmdb.org/t/p/original'+picdata.results[1].backdrop_path" class="d-block w-100 picheight" alt="...">
      <div class="carousel-caption d-block d-md-block pic_titles">
        <h5 class="pictitles">{{this.picdata.results[1].title}}</h5>
      </div>
    </div>
    <div class="carousel-item piccarousel" [routerLink]="'/watch/movie/'+picdata.results[2].id">
      <img [src]="'https://image.tmdb.org/t/p/original'+picdata.results[2].backdrop_path" class="d-block w-100 picheight" alt="...">
      <div class="carousel-caption d-block d-md-block pic_titles">
        <h5 class="pictitles">{{this.picdata.results[2].title}}</h5>
      </div>
    </div>
     <div class="carousel-item piccarousel" [routerLink]="'/watch/movie/'+picdata.results[3].id" >
      <img [src]="'https://image.tmdb.org/t/p/original'+picdata.results[3].backdrop_path" class="d-block w-100 picheight" alt="...">
      <div class="carousel-caption d-block d-md-block pic_titles">
        <h5 class="pictitles">{{this.picdata.results[3].title}}</h5>
      </div>
    </div>
     <div class="carousel-item piccarousel" [routerLink]="'/watch/movie/'+picdata.results[4].id">
      <img [src]="'https://image.tmdb.org/t/p/original'+picdata.results[4].backdrop_path" class="d-block w-100 picheight" alt="...">
      <div class="carousel-caption d-block d-md-block pic_titles">
        <h5 class="pictitles">{{this.picdata.results[4].title}}</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <div id="ContinueWatching" class="container" *ngIf="countinue.length>0">
    <h1 class="subtitiles">Continue Watching</h1>
    <div id="continue_watching" class="carousel slide phoneCarousel">
       <ng-container *ngIf="screenwidth>=768">
        <ol class="carousel-indicators line-indicator" *ngIf="this.continueNormal.length>1">
          <ng-container *ngFor="let item of this.continueNormal;let i=index">
            <li data-target="#continue_watching" data-slide-to="0" class="active" *ngIf="i==0"></li>
            <li data-target="#continue_watching" [attr.data-slide-to]="i" *ngIf="i>0&&i<4"></li>
          </ng-container>
        </ol>
          <div class="carousel-inner">
          <ng-container *ngFor="let item of continueNormal;let i=index">

            <div class="carousel-item active" *ngIf="i==0">
              <div class="row posterRow">
                <ng-container *ngFor="let it of item">
                  <div class="col-md-2 eachposter" [routerLink]="'/watch/'+it.type+'/'+it.id" (click)="addCountinue(it.id, it.poster_path, it.title, it.type)">
                    <img [src]="'https://image.tmdb.org/t/p/w500'+it.poster_path" class="img-thumbnail posterImg">
                    <div class="carousel-caption d-none d-md-block subPoster">
                      <h5 class="posterTitles">{{it.title}}</h5>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="carousel-item " *ngIf="i>0&&i<4">
              <div class="row posterRow">
                <ng-container *ngFor="let it of item">
                  <div class="col-md-2 eachposter" [routerLink]="'/watch/'+it.type+'/'+it.id" (click)="addCountinue(it.id, it.poster_path, it.title, it.type)">
                    <img [src]="'https://image.tmdb.org/t/p/w500'+it.poster_path" class="img-thumbnail posterImg" >
                    <div class="carousel-caption d-none d-md-block subPoster">
                      <h5 class="posterTitles">{{it.title}}</h5>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
          </div>
       </ng-container>
      <ng-container *ngIf="screenwidth<768" >
           <ol class="carousel-indicators line-indicator phoneIndicator ">
              <ng-container *ngFor="let item of countinue;let i=index">
                <li data-target="#continue_watching" data-slide-to="0" class="active" *ngIf="i==0"></li>
                <li data-target="#continue_watching" data-slide-to="i" *ngIf="i>0"></li>
              </ng-container>
           </ol>
         <div class="carousel-inner phoneInner">
          <ng-container *ngFor="let item of countinue;let i=index">
            <div class="carousel-item active" *ngIf="i==0">
              <div class="row eachposter" [routerLink]="'/watch/'+item.type+'/'+item.id"  (click)="addCountinue(item.id, item.poster_path, item.title, item.type)">
                <img [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path" class="img-thumbnail col-sm-12 posterImg" >
                  <div class="carousel-caption d-block d-md-none subPoster ">
                     <h5  class="posterTitles">{{item.title}}</h5>
                  </div>
              </div>
            </div>
            <div class="carousel-item" *ngIf="i>0&&i<24">
              <div class="row eachposter" [routerLink]="'/watch/'+item.type+'/'+item.id"  (click)="addCountinue(item.id, item.poster_path, item.title, item.type)">
                <img [src]="'https://image.tmdb.org/t/p/w500'+item.poster_path" class="img-thumbnail col-sm-12 posterImg" >
                  <div class="carousel-caption d-block d-md-none subPoster ">
                     <h5  class="posterTitles">{{item.title}}</h5>
                  </div>
              </div>
            </div>
          </ng-container>
         </div>
      </ng-container>
      <ng-container *ngIf="this.continueNormal.length>1">
      <a class="carousel-control-prev line-carousel-l" href="#continue_watching" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next line-carousel-r" href="#continue_watching" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </ng-container>
    </div>
  </div>

    <div id="PopularMovies" class="container moviesAtv" *ngIf="popm">
     <h1 class="subtitiles">Popular Movies</h1>
      <app-movie-carouel [popm]="this.popm" [sId]="popular_movie" media_type="movie"></app-movie-carouel>
    </div>

    <div id="TopRatedMovies" class="container moviesAtv" *ngIf="topm">
     <h1 class="subtitiles">Top Rated Movies</h1>
      <app-movie-carouel [popm]="this.topm" [sId]="toorated_movie" media_type="movie"></app-movie-carouel>
    </div>

    <div id="TrendingMovies" class="container moviesAtv" *ngIf="trenm">
     <h1 class="subtitiles">Trending Movies</h1>
      <app-movie-carouel [popm]="this.trenm" [sId]="trending_movie" media_type="movie"></app-movie-carouel>
    </div>

    <div id="PopularTVShows" class="container moviesAtv" *ngIf="poptv">
     <h1 class="subtitiles">Popular TV Shows</h1>
      <app-movie-carouel [popm]="this.poptv" sId="popular_tv" media_type="tv"></app-movie-carouel>
    </div>

    <div id="TopRatedTVShows" class="container moviesAtv" *ngIf="toptv">
     <h1 class="subtitiles">Top Rated TV Shows</h1>
      <app-movie-carouel [popm]="this.toptv" sId="toprated_tv" media_type="tv"></app-movie-carouel>
    </div>

    <div id="TrendingTVShows" class="container moviesAtv" *ngIf="trentv">
     <h1 class="subtitiles">Trending TV Shows</h1>
      <app-movie-carouel [popm]="this.trentv" sId="trending_tv" media_type="tv"></app-movie-carouel>
    </div>
</div>
